* {
    font-family: 'Bree Serif', serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1 {
    color: #525252be;
    margin: .15rem auto .25rem auto;
    display: flex;
    align-items: center;
}
h1 p {
    margin: 0;
    padding: 0;
    margin-right: .75rem;
}
h1 p::first-letter {
    font-size: 3rem;
}
h1 span {
    display: block;
    transform: rotate(10deg);
    font-size: 3rem;
}

button {
    font-size: 1.25rem;
    user-select: none;
    cursor: pointer;
    padding: .5rem 1rem;
    border: none;
    border-radius: 1.5rem;
    background: #525252be;
    color:#fff;
}

#app-container button {
    margin: 1rem .5rem;
}
#app-container img {
    max-width: 300px;
    width: 100%;
}
.categorie {
    margin: 0 auto .75rem auto;
    font-size: 1.1rem;
    padding: .25rem .75rem;
}

.question {
    font-size: 1.25rem;
    padding: 1rem 1.5rem;
    margin-top: 2rem;
    border-radius: 2rem;
    background-color: #f1dabf;
    position: relative;
    user-select: none;
}

.question.answer {
    background-color: #bfdff1;
}

.triangle {
    display: block;
    height: 0;
    width: 0;
    border-top: 43px solid #f1dabf;
    border-right: 25px solid transparent;
    border-left: 25px solid transparent;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.bot-info {
    padding-top: 0;
    margin-top: 0;
}